---
import ProjectCard from "../components/ProjectCard.astro";
import CardLayout from "../layouts/CardLayout.astro";
import { type ProjectFrontMatter } from "../types";

const projects = await Astro.glob<ProjectFrontMatter>("./projects/*.md");
---

<CardLayout title="Heff Labs - Projects">
  <h1 slot="title" class="text-3xl font-bold">Projects</h1>

  <div class="flex flex-col gap-3">
    {
      projects.map((project) => (
        <ProjectCard {...project.frontmatter} path={project.url!} />
      ))
    }
  </div>
</CardLayout>
