---
import { ViewTransitions } from "astro:transitions";
import "../app.css";

const { title } = Astro.props;
const { pathname } = Astro.url;
---

<style lang="postcss">
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body:global {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html:global {
  height: -webkit-fill-available;
}

	.nav-item {
		@apply font-medium flex justify-center leading-8 w-24 rounded-lg p-1 z-20;
	}

	.highlight {
		@apply absolute w-24 h-10 z-10 bg-glass-hover rounded-lg;
		transform: translate(0);
	}

	.highlight.about {
		transform: translateX(96px);
	}

	.highlight.project {
		transform: translateX(192px);
	}
</style>

<script>
  import { getPrimaryColor, setPrimaryColor } from "../store";

  const setPreferences = () => {
    // On page load or when changing themes
    if (
      window.localStorage.getItem("theme") === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      window.localStorage.setItem("theme", "dark");
      document.documentElement.classList.add("dark");
    } else {
      window.localStorage.setItem("theme", "light");
      document.documentElement.classList.remove("dark");
    }

    setPrimaryColor(getPrimaryColor());
  };

  setPreferences();
  document.addEventListener("astro:after-swap", setPreferences);
</script>

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="h-screen bg-platinum text-jet dark:bg-black dark:text-white">
    <div
      class="flex h-full flex-col items-center overflow-hidden p-3 md:justify-center">
      <div class="flex w-full flex-row justify-start pb-3 md:w-162 md:pb-6">
        <div class="relative flex w-max rounded-lg bg-white dark:bg-jet">
          <div
            transition:name="fade"
            class:list={[
              "highlight",
              {
                about: pathname.startsWith("/about"),
                project: pathname.startsWith("/projects"),
              },
            ]}>
          </div>
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/about">About</a>
          <a class="nav-item" href="/projects">Projects</a>
        </div>
      </div>
      <div
        class="scrollbar-hide h-full w-full overflow-auto rounded-2xl bg-white dark:bg-jet md:h-100 md:w-162">
        <div transition:animate="fade" class="h-full">
          <div
            class="flex h-max min-h-full flex-col justify-between p-6 md:p-8">
            <div class="mb-3 flex-grow overflow-y-auto">
              <div class="mb-4">
                <slot name="title" />
              </div>
              <slot />
            </div>
            <div
              class="flex h-min flex-row flex-wrap items-end justify-between gap-5">
              <slot name="bottom-start" />
              <slot name="bottom-end" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
