---
import { ViewTransitions } from "astro:transitions";
import { getPrimaryColor } from "../store";
import "../app.css";

const { title } = Astro.props;
const { pathname } = Astro.url;
---

<style lang="postcss">
	.card {
        @apply h-full w-screen md:w-162 md:h-100 md:rounded-2xl;
	}

	.nav-wrapper {
		@apply w-162;
	}

	.nav-item {
		@apply font-medium flex justify-center leading-8 w-24 rounded-lg p-1 z-20;
	}

	.highlight {
		@apply absolute w-24 h-10 z-10 bg-glass-hover rounded-lg;
		transform: translate(0);
	}

	.highlight.about {
		transform: translateX(96px);
	}

	.highlight.project {
		transform: translateX(192px);
	}

	@media (orientation: landscape) and (max-width: theme('screens.md')) {
        .nav-wrapper {
            @apply w-min px-4;
      }

		.highlight.about {
			transform: translateY(40px);
		}

		.highlight.project {
			transform: translateY(80px);
		}
	}
</style>

<script>
  import { getPrimaryColor, setPrimaryColor } from "../store";

  const setPreferences = () => {
    // On page load or when changing themes
    if (
      window.localStorage.getItem("theme") === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      window.localStorage.setItem("theme", "dark");
      document.documentElement.classList.add("dark");
    } else {
      window.localStorage.setItem("theme", "light");
      document.documentElement.classList.remove("dark");
    }

    setPrimaryColor(getPrimaryColor());
  };

  setPreferences();
  document.addEventListener("astro:after-swap", setPreferences);
</script>

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="bg-platinum dark:bg-black text-jet dark:text-white">
    <div
      class="flex flex-col justify-between landscape:flex-row landscape:justify-start md:landscape:justify-center md:landscape:flex-col items-center md:justify-center overflow-hidden h-screen"
    >
      <div class="py-6 nav-wrapper flex flex-row justify-center md:justify-end">
        <div
          class="flex landscape:flex-col md:landscape:flex-row justify-between w-max rounded-lg bg-white dark:bg-jet relative"
        >
          <div
            transition:name="fade"
            class:list={[
              "highlight",
              {
                about: pathname === "/about",
                project: pathname.startsWith("/projects"),
              },
            ]}
          >
          </div>
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/about">About</a>
          <a class="nav-item" href="/projects">Projects</a>
        </div>
      </div>
      <div class="bg-white dark:bg-jet p-8 card overflow-hidden">
        <div transition:animate="fade" class="h-full">
          <div class="h-full flex flex-col justify-between">
            <div class="overflow-y-auto mb-3">
              <div class="mb-4">
                <slot name="title" />
              </div>
              <slot />
            </div>

            <div
              class="flex flex-row justify-between items-end flex-wrap gap-5"
            >
              <slot name="bottom-start" />
              <slot name="bottom-end" />
            </div>
          </div>
        </div>
      </div>
      <slot name="bottom" />
    </div>
  </body>
</html>
